* {
    margin: 0;
    padding: 0;
}

main {
    max-width: 100%;
    color: hsl(192, 100%, 9%);
}

h1,
h3 {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 3.5rem;
    padding-top: 3rem;
    padding-right: 5rem;
    padding-bottom: 2rem;
}

h3 {
    font-size: 2rem;
    padding-bottom: 1rem;
}

.build p {
    color: hsl(192, 100%, 9%);
    font-weight: 500;
}

p {
    font-family: 'Open Sans', sans-serif;
    color: hsl(208, 11%, 55%);
    font-size: 1.2rem;
    padding-right: 3rem;
    padding-bottom: 3rem;
}

button {
    font-weight: 900;
    font-size: 1rem;
}

.head-section {
    background-image: url(images/bg-hero-desktop.svg);
    background-color: hsl(193, 100%, 96%);
    background-size: cover;
    padding: 40px 60px;
}

.logo {
    display: flex;
    flex-direction: row;
}

.box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.try-btn {
    border-radius: 3rem;
    padding: 10px 40px;
    border: 1px solid rgba(200, 200, 202, 0.354);
    background-color: #fff;
}

.start-btn {
    border-radius: 3rem;
    padding: 10px 40px;
    border: 1px solid hsl(300, 70%, 70%);
    background-color: hsl(322, 100%, 66%);
    color: hsl(193, 100%, 96%);
}

.mid-section {
    background-color: #fff;
    margin: 20px 20px 0 20px;
    padding: 80px 50px;
}

.grow,
.flow,
.user {
    box-shadow: 0 0 0 3px hsl(193, 100%, 96%);
    border-radius: 10px;
}

.grow,
.flow,
.user .notes {
    padding: 0 300px 0 100px;
}

img {
    max-width: 100%;
}

.last-section {
    background-color: #fff;
    width: 800px;
    height: 300px;
    border-radius: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: 25%;
    margin-bottom: -5%;
    z-index: 1;
}

.ready {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ready-btn {
    padding: 20px 80px;
    font-size: 1.2rem;
}

footer {
    max-width: 100%;
    padding: 100px 100px 20px;
    background-color: hsl(192, 100%, 9%);
    color: hsl(208, 11%, 55%);
    font-family: "Open Sans";
    display: flex;
    flex-direction: column;
    position: relative;
}

footer .cols {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0 0;
}

.col-image img,
.col-4 {
    filter: grayscale(1) invert(1);
    -webkit-filter: grayscale(1) invert(1);
}

footer h5 {
    font-size: 14px;
    padding: 1rem 0;
}

.icon {
    display: flex;
}

.icon i {
    padding-top: 20px;
    padding-right: 20px;
}

.icon h5 {
    padding-right: 50px;
}

.col-4 a {
    padding: 1rem 0.5rem 0;
}

.copy {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

@media screen and (max-width: 375px) {
    h1 {
        font-size: 1.5rem;
        text-align: center;
        padding: 10px 20px;
    }

    h3 {
        font-size: 1rem;
        text-align: center;
        padding: 20px;
    }

    .build p {
        font-size: 1rem;
        text-align: center;
        padding: 10px 20px;
    }

    p {
        font-size: 0.8rem;
        text-align: center;
        padding: 10px 30px;
    }

    button {
        font-size: 0.6rem;
    }

    .head-section {
        padding: 20px 20px;
    }

    .logo img {
        width: 30%;
    }

    .head-section .logo {
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 30px;
    }

    .try-btn {
        padding: 5px 20px;
    }

    .start-btn {
        margin: 10px 50px 30px;
    }

    .box {
        flex-direction: column;
        margin-bottom: 20px;
    }

    .mid-section {
        margin: 20px 10px 0;
        padding: 30px 10px 50px;
    }

    .grow, .user {
        flex-direction: column-reverse;
        margin-bottom: 30px;
    }

    .flow {
        flex-direction: column;
        margin-bottom: 30px;
    }

    .grow, .flow, .user .notes {
        padding: 0 0 20px;
        text-align: center;
    }

    .last-section {
        width: 90%;
        height: 100%;
        margin-left: 5%;
        margin-bottom: -15%;
        display: inline-flex;
    }

    .ready-btn {
        font-size: 0.8rem;
        padding: 10px 40px;
        margin: 0 10px 30px;
    }

    footer {
        padding: 100px 20px 20px;
    }

    footer h5 {
        padding: 0 0 20px;
    }

    .col-image img {
        width: 50%;
        padding-top: 30px;
    }

    footer .cols {
        flex-direction: column;
    }

    .icon i {
        padding-top: 5px;
    }

    .col-1 {
        margin: 0 0 20px;
    }

    .col-4 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }

    .copy h5 {
        font-size: 10px;
    }

    .copy {
        display: flex;
        justify-content: center;
        align-items: center;
    }   
}