* {
    margin: 0;
    padding: 0;
}

main {
    max-width: 100%;
    color: hsl(192, 100%, 9%);
}

h1,
h3 {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 3.5rem;
    padding-top: 3rem;
    padding-right: 5rem;
    padding-bottom: 2rem;
}

h3 {
    font-size: 2rem;
    padding-bottom: 1rem;
}

p {
    font-family: 'Open Sans', sans-serif;
    color: hsl(208, 11%, 55%);
    font-size: 1.2rem;
    padding-right: 3rem;
    padding-bottom: 3rem;
}

button {
    font-weight: 900;
    font-size: 1rem;
}

.head-section {
    background-image: url(images/bg-hero-desktop.svg);
    background-color: hsl(193, 100%, 96%);
    background-size: cover;
    padding: 40px 60px;
}

.box {
    display: flex;
    align-items: center;
	justify-content: space-between;
	margin-bottom: 40px;
}

.try-btn {
    border-radius: 3rem;
    padding: 10px 40px;
    border: 1px solid rgba(200, 200, 202, 0.354);
    background-color: #fff;
}

.start-btn {
    border-radius: 3rem;
    padding: 10px 40px;
    border: 1px solid hsl(300, 70%, 70%);
    background-color: hsl(322, 100%, 66%);
    color: hsl(193, 100%, 96%);
}

.mid-section {
    background-color: #fff;
    margin: 20px 20px 0 20px;
    padding: 80px 50px;
}

.grow, .flow, .user {
    box-shadow: 0 0 0 3px hsl(193, 100%, 96%);
    border-radius: 10px;
    }

.grow, .flow, .user .notes {
    padding: 0 300px 0 100px;
}

img {
    max-width: 100%;
}

.last-section {
    background-color: #fff;
    width: 800px;
    height: 300px;
    border-radius: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: 25%;
    margin-bottom: -5%;
    z-index: 1;
}

.ready {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ready-btn {
    padding: 20px 80px;
    font-size: 1.2rem;
}

footer {
    max-width: 100%;
    padding: 100px 100px 20px;
    background-color: hsl(192, 100%, 9%);
    color: hsl(208, 11%, 55%);
    font-family: "Open Sans";
    display: flex;
    flex-direction: column;
    position: relative;
}

footer .cols {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0 0;
}

.col-image img,
.col-4 {
    filter: grayscale(1) invert(1);
    -webkit-filter: grayscale(1) invert(1);
}

footer h5 {
    font-size: 14px;
    padding: 1rem 0;
}

.col-4 a {
    padding: 1rem 0.5rem 0;
}

.copy {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

@media screen and (max-width: 375px) {
    .box {
        flex-direction: column;
    }
}


/* 
	nav.flex {
		flex-direction: row;
	}

	.header-img {
		margin-top: 40px;
		margin-left: 0;
		width: 100%;
	}

	.flex {
		flex-direction: column;
	}

	.box-reverse-mobile {
		flex-direction: column-reverse;
	}

	footer ul {
		padding: 0;
		width: 100%;
	}

	footer p {
		text-align: center;
	}
}
 */